/*body {
    background: linear-gradient(45deg, #ff5733 50%, #3498db 50%);
    background-size: 100% 200%;
}
*/

body {
    margin: 0;
    background: radial-gradient(circle at bottom left, #f5f5f5 0, #f5f5f5 80%, #ffffff 20%);
    height: 100vh;
}

p, h1, h2, h3, h4, h5, h6 {
    font-family: Arial, 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 30px 100px;
}

header button {
    display: none;
    color: orangered;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}

.header-calculate {
    background-color: #ffffff;
}

.link-one {
    color: #ffffff;
    background-color: orangered;
}

.link-one:hover {
    color: orangered;
    background-color: transparent;
    border: solid 2px orangered;
}

.link-two {
    color: #ffffff;
    background-color: #000000;
}

.link-two:hover {
    color: #000000;
    background-color: transparent;
    border: solid 2px #000000;
}

nav ul {
    display: flex;
    list-style: none;
}

.nav-ul-m {
    display: none;
}


nav a {
    font-family: Arial, 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 10px 30px 10px 30px; /* Applies 0 padding to top and bottom, 50px to left and right */
    border-radius: 20px;
    color: #ffffff;
}


nav li {
    margin-left: 20px;
}

.one {
    display: flex;
    justify-content: space-between;
    padding: 0 100px 20px 100px;
}



.div-one h1 {
    font-size: 3rem;
    line-height: 1rem;
    min-width: 400px;
}

.div-one {
    margin-right: 20px;
    width: 35%;
}

.div-one h3 {
    margin-bottom: 40px;
}

.hide-image {
    display: none;
}

.div-two {
    width: 50%;
}

.div-two img {
    width: 100%;
    height: 60vh;
}


form {
    display: flex;
    flex-direction: column;
}

form h3 {
    line-height: .2rem;
}

form p {
    line-height: .2rem;
}

input {
    margin-bottom: 15px;
    padding:15px;
    border-radius: 30px;
    font-size: 1.2rem;
}

input:hover {
    font-weight: bold;
}

#calculate-submit {
    background-color: orangered;
    color: #ffffff;
    border: none;
}

.calculate-div-two {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 30px;
}

.div-right {
    width: 50%;
}

.div-right-a {
    width: 50%;
}

.calculate-div-two {
    width: 100%;
}

.radio {
    appearance: none;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 3px #000000 solid;
}

.radio:checked {
    background-color: #ffffff;
    border: 10px #000000 solid;
}


.month {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    width: 100%;
}

.month input {
    width: 70%;
    margin: 2px;
    padding: 10px;
}

.div-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.section-three {
    display: none;
}

.section-three > div {
    width: 90%;
}


footer {
    text-align: center;
    padding: 0px 0 10px 0;
    background-color: #ffffff;
}



@media (max-width: 900px) {
    header {
        display: flex;
        padding: 5% 5% 0 5%;
    }

    header button {
        display: block;
    }

    .nav-ul-m {
        display: none;
        list-style: none;
        width: 90%;
        background-color: #ffffff;
        text-align: center;
    }

    .nav-ul-m a {
        text-decoration: none;
        color: orangered;
        background-color: transparent;
        font-family: Arial, 'Courier New', Courier, monospace;
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .nav-ul {
        display: none;
    }

    .one {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .one > div {
        width: 90%
    }   
 
    .hide-image {
        display: block;
        width: 100%;
        
    }

    .div-two img {
        display: none;
    }

    .section-three {
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        background-color: #ffffff;
    }

    .div-right-a {
        display: none;
    }
}

@media (max-width: 450px) {
    body {
        text-align: center;
    }

    .div-one h1 {
        font-size: 3rem;
        line-height: 2.5rem;
        min-width: auto;
    }
}

@media (max-width: 370px) {
    form h3 {
        line-height: 1rem;
    }
}